{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
  {% for message in app.session.getFlashBag.get('message') %}
      <div class="alert alert-success">{{ message }}</div>
  {% endfor %}
  <div class="row">
    <form role="form" method="POST">
      <input type="hidden" name="sentences" id="sentences" />
      <input type="hidden" name="doc" id="doc" value="{{ docName }}" />
      <div class="col-md-6" style="height:800px;overflow-y:scroll">
        <h2>Tekst</h2>
        <div class="alert alert-info">
            Kliknij wybrane zdania poniżej, aby dodać je do streszczenia.
        </div>
        {% set index = 0 %}
        {% for paragraph in text %}
            <p>
            {% for sentence in paragraph %}
                <span class="sentence {{ index % 2 ? 'alternate' : '' }}" id="s{{ index }}">{{ sentence }}</span>
                {% set index = index + 1 %}
            {% endfor %}
            </p>
        {% endfor %}
      </div>
      <div class="col-md-6" style="height:800px;overflow-y:scroll">
        <h2>Streszczenie</h2>
        <table class="table" id="extract">
        </table>
        <p>Wybrane zdania: <span id="extractActualSize">0</span> z <span id="extractTotalSize">{{ sentencesNumber }} ogółem</span></p>
        <div class="alert alert-info">
        <h4>Wskazówki</h4>
        <ul>
            <li>Celem streszczenia jest uzyskanie <strong>możliwie krótkiego tekstu</strong>, który dobrze oddaj <strong>główną myśl oryginału</strong>.</li>
            <li>Czytając tekst spróbuj wyłapać jego główną myśl na podstawie <strong>najczęściej powtarzających się słów</strong>, ich synonimów i wyrazów powiązanych z głównym wątkiem.</li>
            <li><strong>Pomiń powtórzenia</strong> i informacje mniej istotne.</li>
            <li><strong>Uporządkuj</strong> zdania w logicznej kolejności, oddającej kolejność myśli w oryginale.</li>
            <li>Liczba zdań jest dowolna, choć powinna być <strong>mniejsza niż 50% oryginału</strong></li>
        </ul>
        </div>
        <button type="submit" id="extract-btn" class="btn btn-primary" disabled="disabled">Zapisz streszczenie</button>
      </div>
    </form>
  </div>
</div>
<script>
$("span.sentence").click(function() {
    if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
        $('#x_' + $(this).attr('id')).remove();
    } else {
        $('#extract').append('<tr class="success" id="x_'+ $(this).attr('id') +'"><td>' + $(this).text() + '</td>' + 
            '<td><span class="glyphicon glyphicon-circle-arrow-up"></span></td>' + 
            '<td><span class="glyphicon glyphicon-circle-arrow-down"></span></td>' + 
            '<td><span class="glyphicon glyphicon-remove-circle"></span></td></tr>');
        $(this).addClass('selected');
    }

    updateSentenceCounter();
    updateSubmitButton();
    setupClickHandlers();
    updateForm();
});

function updateSentenceCounter() {
    var sentencesNumber = $('#extract >tbody >tr').length;
    $('#extractActualSize').text(sentencesNumber);
}

function getExtractSize() {
    var sentencesNumber = $('#extract >tbody >tr').length;

    return sentencesNumber;
}

function updateSubmitButton() {
    $('#extract-btn').prop('disabled', getExtractSize() < 2);
}

function setupClickHandlers() {
    $(".glyphicon-circle-arrow-up").off('click');
    $(".glyphicon-circle-arrow-up").on('click', function() {
        var row = $(this).parents("tr:first");
        row.insertBefore(row.prev());
        row.hide();
        row.fadeIn();

        updateForm();
    });

    $(".glyphicon-circle-arrow-down").off('click');
    $(".glyphicon-circle-arrow-down").on('click', function() {
        var row = $(this).parents("tr:first");
        row.insertAfter(row.next());
        row.hide();
        row.fadeIn();

        updateForm();
    });

    $(".glyphicon-remove-circle").off('click');
    $(".glyphicon-remove-circle").on('click', function() {
        var row = $(this).parents("tr:first");
        $('#' + row.attr('id').substring(2)).removeClass('selected');
        row.remove();

        updateSentenceCounter();
        updateForm();
    });
}

function updateForm() {
    var ids =  [];

    $("#extract tbody tr").each(function() {
        $this = $(this)
        ids.push($this.attr('id').substring(3));
    });
    $('#sentences').val(ids.join(','));
}

</script>
{% endblock %}
